<html>
  <head>
    <title>I4development</title>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="row">
      <div class="twelve columns">
        <%= image_tag asset_path("header.png") %>
        <%= render(partial: "/refinery/menu", locals:{dom_id: 'menu', css: 'menu'}) %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
